{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>
        Discord Messages
    </title>

    <link
        rel="stylesheet"
        href="{% static 'style.css' %}"
    >

</head>

<body>

    <div class="navbar">

        <a
            href="/"
            class="nav-link"
        >
            Dashboard
        </a>

        <a
            href="/configs/"
            class="nav-link"
        >
            Configurations
        </a>

        <a
            href="/messages/"
            class="nav-link"
        >
            Messages
        </a>

        <a
            href="/admin/"
            class="nav-link"
        >
            Admin
        </a>

    </div>

    <div class="container">

        <h1>
            Fetched Discord Messages
        </h1>

        {% for message in messages %}

        <div class="message-card">

            <h3>
                {{ message.channel_name }}
            </h3>

            <p>
                {{ message.content }}
            </p>

            <div class="small-text">

                <p>
                    <strong>
                        Author:
                    </strong>

                    {{ message.author }}
                </p>

                <p>
                    <strong>
                        Timestamp:
                    </strong>

                    {{ message.timestamp }}
                </p>

            </div>

        </div>

        {% empty %}

        <div class="card">

            <h3>
                No messages fetched yet.
            </h3>

        </div>

        {% endfor %}

    </div>

</body>

</html>